@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.options-header {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-family: "Roboto", sans-serif;
    font-size: 15.5px;
    gap : 2.7%;
    box-sizing: border-box;
    margin-top: 0.5%;
    width: 40%;
}

.options-header a {
    color: white;
    text-decoration: none;
    margin-top: 2.8%;
    padding-left: 2.2%;
    white-space: nowrap;
    
}

.options-header a:visited{
    color: white !important;
    text-decoration: none !important;
}

header {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
}

header .buttons-header{
    display: flex;
    justify-content: right;
    gap: 5%;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    white-space: nowrap;
    margin-top: 1%;
    margin-right: 2.8%;
    font-weight: 500;
    
}

header .buttons-header .crie-sua-conta
{
    background-color: #ffe733;
    color: black;
    border-radius: 50px;
    width : 150px;
    text-align: center;
    padding-top: 4.5%;
    height: 40px;
    text-decoration: none;

}

header .buttons-header .entrar
{
    color: aliceblue;
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 50px;
    width: 125px;
    height: 40px;
    text-align: center;
    padding-top: 4.5%;
    text-decoration: none;
}



body{
    box-sizing: border-box;
}

.logo {
    height: 70%;
    width: 50%;
    margin-left: 5%;
    margin-top: 1%;
}

.titulo{
    position : absolute;
    font-family: "Merriweather", serif;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    font-size : 50px;
    margin-top : 8%;
    margin-left: 20%;
    color: white;
}


.fundo {
    width: 100%;
    z-index: -1;
    max-height: 85vh;
    object-fit: cover;
}

main {
    margin : 0;
    padding: 0;
}

.infos {
    display : flex;
    background-color: #ffe733;
    flex-direction: row;
    font-size: 10px;
    font-family: "Merriweather", serif;
    justify-content: center;
    gap : 8%;
    
}

.infos__content {
    display : flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    height : 10vh;
}

.infos__content img {
    height: 60%;
}

.botao {
    text-decoration: none;
    box-sizing: border-box;


    text-align: center;
    justify-content: center;
    

    border-radius: 50px;
}

.front-content > .botao{
    z-index: 1;
    position: absolute;
    color: black;
    background-color: #ffe733;
    font-size: 20px;
    font-family: "Merriweather", serif;
    font-weight: 700;
    width: 15%;
    height: 10%;

    padding: 1.3%;
    margin-left: 45%;
    margin-top: 25%;

}


.front-content {
    display: flex;
    flex-direction: column;
}

.propostas {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 8%;
    justify-content: center;
    gap: 70px;
}

.propostas__content {
    
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    gap: 18px;
    justify-content: center;

}

.propostas__content h1{

    font-family: "Merriweather", serif;
    font-size: 40px;
    font-weight: 500;

}

.propostas__content__texto{
    font-family: "Roboto", sans-serif;
    padding-left: 23%;
    padding-right: 23%;
    font-size: 15px;
    color: rgba(18, 18, 18, 0.618);

}

.propostas__content a{
    background-color: #ffe733;
    padding: 20px;
    width: 200px;
    margin-left: 77vh;
    border-radius : 50px;
    font-family: "Merriweather", serif;
    font-weight: 700;
}

.propostas__content__imgs {

    display: flex;
    flex-direction: row;
    gap: 25px;

    object-fit: cover;
    
}

.propostas__content__imgs img{
    width: 800px;
    

}

.propostas__content__imgs__legendas {
    display : flex;
    flex-direction: row;
    position: absolute;
}

.propostas__content__imgs__legendas p {
    font-family: "Merriweather", serif;

    padding: 25px;
    width: 91.8vh;
}

.progresso-nao-perfeicao {
    background-color: #ffe733;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh;
    height: 150vh;
    gap: 4vh;
    
}

.progresso-nao-perfeicao h1{
    font-family: "Merriweather", serif;
    font-size: 63px;
    margin-top: 10vh;

}

.progresso-nao-perfeicao p {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    color: #5E5952;

}

.progresso-nao-perfeicao video {
    size: 100vh;
    margin-top: 10vh;
}

.planos {
    display: flex;
    flex-direction: column;
    background-color: #f4f4EB;
}

.planos__content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.planos__titulo {
    font-family: "Merriweather", serif;
    font-size: 76px;
    text-align: center;
    padding-top : 15vh;
    padding-bottom: 15vh;
}

.planos__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    align-items: left;
    padding: 32px;
    width: 460px;
    
}

.planos__info__titulo {
    font-family: "Merriweather", serif;
    font-size: 44px;
    font-weight: 500;
    width: 35vh;
    white-space: nowrap;
}

.planos__info__descricao {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    padding-top: 3vh;
    padding-bottom: 15vh;
}

.planos__info__botao {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: white;
    background-color: black;
    border-radius: 50px;
    padding : 3vh;
    justify-content: center;
    align-self: center;
    width: 50vh;
}

.botao-particular {

    color: black;
    background-color: #ffe733;
}

.planos__info__a-partir-de {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    padding-top: 6vh;
}

.planos__info__preco-antigo {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    text-decoration: line-through;
}

.planos__info__preco-atual {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 13vh;
}

.planos__info__preco-atual__preco {
    font-family: "Roboto", sans-serif;
    font-size: 63px;
}

.planos__info__preco-atual__mensal {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
}

.planos__beneficios {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3vh;
    padding: 3vh;

}

.explore {
    height: 50vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 8vh;
    background-color: #f4f4EB;

}

.explore__txt {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #5E5952;
}

.explore__botao {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    background-color: #ffe733;
    padding: 4vh;
    align-self: center;
    border-radius: 50px;
}

.anywhere {
    display: flex;
    flex-direction: column;

}

.anywhere__fundo {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.anywhere__content {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
    text-align: left;
    
}

.anywhere__content__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10vh;
}

.anywhere__gif {
    height: 90vh;
    align-self: flex-end;
}

.anywhere__content__info__titulo {
    font-family: "Merriweather", serif;
    font-size: 76px;
    width: 123vh;
}

.anywhere__content__info__reclame {
    height: 8vh;
    width: 21vh;
    object-fit: cover;
    border-radius: 6px;
    
}

.anywhere__content__info__descricao {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    width: 93vh;
}


.trabalhe {
    background-color: rgba(109, 209, 223, 0.6);
    display: flex;
    flex-direction: row;
    padding: 15vh;
    padding-top: 35vh;
    padding-bottom: 35vh;
}

.trabalhe__img {
    height: 70vh;
    width: 115vh;
}

.trabalhe__content {
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: space-between;
    padding-left : 15vh;
}

.trabalhe__content__titulo {
    font-family: "Merriweather", serif;
    font-size: 76px;
}

.trabalhe__content__descricao {

    font-family: "Roboto", sans-serif;
    font-size: 25px;

}

.trabalhe__content__botao {

    
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    background-color: black;
    color: white;
    width: 32vh;
    padding: 4vh;
    border-radius: 50px;
    white-space: nowrap;

}

.conversa {
    background-color: #ffe733;
    display: flex;
    flex-direction: column;
    height: 60vh;
    align-items: center;
    justify-content: space-evenly;
}

.conversa__titulo {
    font-family: "Merriweather", serif;
    font-size: 44px;
}

.conversa__botao{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    padding: 3vh;
    border-radius: 50px;
    width: 55vh;
    text-align: center;
}

.comece {
    color: white;
    background-color: black;
}

.planos {
    color: black;
    background-color: #ffe733;
    border: 2px solid rgba(135, 137, 138, 0.6);
    
}

.conversa__botao-planos{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.conversa__login {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.conversa__login {
    display: flex;
    gap : 1vh;
}

footer {
    background-color: black;
    padding: 15vh;
}

.footer-top {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;

}

.footer-top__content {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Roboto", sans-serif;
    gap: 3vh;
    
}

.footer-top__content__titulo {
    font-size: 20px;
    font-weight: 350;
}

.footer-top__content__opcao {
    font-size: 13px;
    font-weight: 300;
}

.footer-top__reclame-aqui {
    height: 8vh;
    width: 21vh;
    border-radius: 6px;
}

.footer-top__social {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.footer-top__social__titulo {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 350;
}

.footer-top__social__imgs {
    display: flex;
    gap: 3vh;
}